# compiled output
/dist
/node_modules
/build
*.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Ignore Dockerfile-specific files and directories
Dockerfile*
docker-compose*

# Ignore system and hidden files
.git
.gitignore
.vscode
.idea
.DS_Store
*.swp

# Ignore node_modules directory for Node.js applications
node_modules

# Ignore package-lock.json or yarn.lock for Node.js applications
package-lock.json
yarn.lock

# Ignore any temporary files or build artifacts
*.log
*.tmp
*.bak
*.cache
*.pid
*.env